<a href="#" class="logo-ancor"><img src="/img/OdeonRecap.jpg" alt="logo" class="logo-img"></a>
    <nav class="">
        <ul class="lista-sin-estilos">
            <li><a href="/" class="nav-anchor">Bienvenida</a></li>
            <li><a href="/ingresar" class="nav-anchor">Ingreso Administrador</a></li>
            <li><a href="/carrito" class="nav-anchor">Carrito</a></li>
        </ul>
    </nav>