<a href="#"><img src="" alt="logo"></a>
<h2 class="tittle">Nombre de la APP</h2>
<nav class="">
    <ul class="lista-sin-estilos">
        <li><a href="">Bienvenida</a></li>
        <li><a href="/admin">Ingreso Administrador</a></li>
        <li><a href="">Carrito</a></li>
    </ul>
</nav>